
.pokemon-card
{
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.pokemon-image
{
  width: 4.2rem;
  height: 4.2rem;
  filter: drop-shadow(2px 2px 2px lightgreen);
}


.pokemon-name
{
  font-weight: 600;
  letter-spacing: 1px;
}

.pokemon-type
{
  border: none;
  outline: none;
  background-color:black;
  color: #fff;
  padding: 6px 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
}

.pokemon-details
{
    display: flex;
    gap: 0.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.pokemon-details p
{
    font-size: 0.9rem;
    font-weight: 600;
}

